      <div class="drink-directions">
            <div class="drink">
              <div class="drink-content">
                  <div class="flip-card-front">
                      <div class="recipe-image-container">
                          <img src ="{{img}}" alt={{name}}>
                      </div>
                  </div>
                  <div class="flip-card-back">
                      <a href="#"> <h1> {{name}} </h1> </a>
                  </div>
              </div>    
          </div>
          <div class="recipe-container">
              <div class="drink-name">
                <h1>{{name}}</h1>
              </div>
              <div class="ingredients">
                <h2>Ingredients</h2>
                <p>{{ingredients}}</p>
              </div>
              <div class="steps">
                <h2>How To:</h2>
                <p>{{howto}}</p>
              </div>
              <div class="drink-diff">
                  <h2>What makes this drink different?</h2>
                  <p>{{diff}}</p>
              </div>
            </div>
          </div>