{{!-- Formatted header all on main --}}
   <main class="content">
     <aside class="side-container">
       <div class="feature-div">

        <button id="bean-button" >Click to add some beans!</button>

        <section id = "bean-section">        

            {{#each beanArray}}
            
              {{> bean}}

            {{/each}}
            
          </div> 
         </div>
       </div>

       <div class="feature-div">
         <!-- https://javascript.plainenglish.io/build-a-pomodoro-timer-using-html-css-and-javascript-7a7a8410052c -->
          <div id="timer">
            <div class="timer"></div>
          </div>
        </div>
 
     </aside>

     <section>
     </div>
        {{#if isDrink}}
          {{> recipe}}  
        {{/if}}
        {{#if isSelection}}
          {{> selection}}
        {{/if}}
     </section>
 </main>
 
 <div id="modal-backdrop" class="hidden"></div>
   <div id="bean-counter-modal" class="hidden">
     <div class="modal-dialog">
  
         <div class="modal-header">
             <h3>Add bag of beans:</h3>
             <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
         </div>
  
     <div class="modal-body">
          <div class="input">
            <label for="text-entry">Name:</label>
            <input type="text" class="text-entry" id ="name-input"></input>
          </div>

          <div class="input">
            <label for="text-entry">Weight (in grams):</label>
            <input type="number" class="text-entry" id="weight-input"></input>
          </div>

          <div class ="input-button">
            
            <fieldset id ="roast-level-fieldset">
              <legend> Roast Level:</legend>
              <div>
                <input type="radio" id="roast-level-light" name="roast-level" value = "light" checked>
                <label for= "roast-level-light">Light</label>
              </div>  

              <div>
                <input type="radio" id="roast-level-medium" name="roast-level" value = "medium">
                <label for= "roast-level-medium">Medium</label>
              </div>

              <div>
                <input type="radio" id="roast-level-dark" name="roast-level" value = "dark">
                <label for= "roast-level-dark">Dark</label>
              </div>
            </fieldset>

          </div>

          <div class="input">
            <label for="text-entry">Notes:</label>
            <input type="text" class="text-entry" id="note-input"></input>
          </div>

          <div class ="submit">
            <button type="button" id="modal-submit" class = "create-entry">Add bag of beans</button>
          </div>

      
      </div>
  
     <div class="modal-footer">
     </div>
  
     </div>
  </div>

  <div id="modal-backdrop2" class="hidden"></div>
        <div id="bean-counter-modal2" class="hidden">
            <div class="modal-dialog2">

              <div class="modal-header2">
                  <h3 id = header>Bean:</h3>
                  {{!-- <h3> {{beanName}}</h3> --}}
                  <button type="button" id="modal-close2" class="modal-hide-button">&times;</button>
              </div>

            <div class="modal-body2">
                <div class="input2">
                    <label for="text-entry2">Name: </label>
                    <p id = beanName1>  </p>
                    {{!-- <p>{{beanName}}</p> --}}
                </div>

                <div class="input2">
                    <label for="text-entry2">Weight (in grams):</label>
                    <p id = weight> </p>
                    {{!-- <p>{{weight}}</p> --}}
                </div>

                <div class="input2">
                    <label for="text-entry2">Roast Level:</label>
                    <p id = roast> </p>
                    {{!-- <p>{{roast}}</p> --}}
                </div>

                <div class="input2">
                    <label for="text-entry2">Notes:</label>
                    <p id = notes> </p>
                    {{!-- <p>{{notes}}</p> --}}
                </div>
            </div> 
          <div class="modal-footer">
          </div>
        </div>
    </div>
</body>
